{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col md-2 sm-4">
                    <div id="card" class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="img-size card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                {% else %}
                                <img class="img-size card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            {% if user == post.author %}
                            <p>
                                <a href="/edit/{{ post.slug }}">
                                    <button class="btn btn-outline-success">Edit Recipe</button>
                                </a>
                                <a href="/delete/{{ post.slug }}">
                                    <button class="btn btn-outline-danger">Delete Recipe</button>
                                </a>
                            </P>
                            {% endif %}
                            <hr class="hr">
                            <p class="card-text text-muted h6">{{ post.created_on }}
                                <i class="far fa-heart"></i>{{ post.number_of_likes }}</p>
                        </div>
                    </div>               
                </div>
                {% endfor %}
            </div>
        </div>
                
    </div>
</div>

{%endblock%}
