{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col md-2 sm-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <a href="{% url 'post_detail' post.slug %}" class="post-link"><img class="img-size card-img-top"
                                        src="https://images.pexels.com/photos/4033165/pexels-photo-4033165.jpeg" alt="{{ post.title }}">
                                    <h4 class="card-title">{{ post.title }}</h4>
                                </a>
                                {% else %}
                                <a href="{% url 'post_detail' post.slug %}" class="post-link"><img
                                        class="img-size card-img-top" src=" {{ post.featured_image.url }}" alt="recipe_default_image">
                                    <h4 class="card-title">{{ post.title }}</h4>
                                </a>                                
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            {% if user == post.author %}
                            <p>
                                <a href="/edit/{{ post.slug }}">
                                    <button class="btn btn-outline-success">Edit Recipe</button>
                                </a>
                                <a href="/delete/{{ post.slug }}">
                                    <button class="btn btn-outline-danger">Delete Recipe</button>
                                </a>
                            </P>
                            {% endif %}
                            <hr class="hr">
                            <p class="card-text text-muted h6">{{ post.created_on }}
                                <i class="far fa-heart"></i>{{ post.number_of_likes }}</p>
                        </div>
                    </div>               
                </div>
                {% endfor %}
            </div>
        </div>
                
    </div>
</div>

{%endblock%}
