{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-12">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top"
                            src="https://images.pexels.com/photos/4033165/pexels-photo-4033165.jpeg" alt="{{ post.title }}">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="recipe_default_image">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form action="{% url 'post_like' post.slug %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="like_btn_id" value="{{ post.slug }}" class="btn-like">
                                    <i class="fa-regular fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="like_btn_id" value="{{ post.slug }}" class="btn-like">
                                    <i class="fa-solid fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="fa-regular fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-12">
                <h1 class="card-title">{{ post.title }}</h1>
                <hr>
                <h2>Ingredients:</h2>
                <p class="card-text">{{ post.ingredients_content }}</p>
                <h2>Method:</h2>
                <p class="card-text">{{ post.method_content }}</p>
                <a class="btn btn-danger mb-3" href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i> Back to recipes</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
